@font-face {
  font-family: 'itc-charter';
  src: url("../fonts/itc-charter.eot");
  src: url("../fonts/itc-charter.eot?#iefix") format("embedded-opentype"), url("../fonts/itc-charter.woff2") format("woff2"), url("../fonts/itc-charter.woff") format("woff"), url("../fonts/itc-charter.ttf") format("truetype"), url("../fonts/itc-charter.svg#CharterITCbyBT-Roman") format("svg");
}
@font-face {
  font-family: 'itc-charter';
  src: url("../fonts/itc-charter-bold.eot");
  src: url("../fonts/itc-charter-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/itc-charter-bold.woff2") format("woff2"), url("../fonts/itc-charter-bold.woff") format("woff"), url("../fonts/itc-charter-bold.ttf") format("truetype"), url("../fonts/itc-charter-bold.svg#CharterITCbyBT-Italic") format("svg");
  font-weight: bold;
}
@font-face {
  font-family: 'itc-charter';
  src: url("../fonts/itc-charter-italic.eot");
  src: url("../fonts/itc-charter-italic.eot?#iefix") format("embedded-opentype"), url("../fonts/itc-charter-italic.woff2") format("woff2"), url("../fonts/itc-charter-italic.woff") format("woff"), url("../fonts/itc-charter-italic.ttf") format("truetype"), url("../fonts/itc-charter-italic.svg#CharterITCbyBT-Bold") format("svg");
  font-style: italic;
}
@font-face {
  font-family: 'kievit-regular';
  src: url("../fonts/kievit-regular.eot");
  src: url("../fonts/kievit-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/kievit-regular.woff2") format("woff2"), url("../fonts/kievit-regular.woff") format("woff"), url("../fonts/kievit-regular.ttf") format("truetype"), url("../fonts/kievit-regular.svg#Kievit-Regular") format("svg");
}
@font-face {
  font-family: 'kievit-medium';
  src: url("../fonts/kievit-medium.eot");
  src: url("../fonts/kievit-medium.eot?#iefix") format("embedded-opentype"), url("../fonts/kievit-medium.woff2") format("woff2"), url("../fonts/kievit-medium.woff") format("woff"), url("../fonts/kievit-medium.ttf") format("truetype"), url("../fonts/kievit-medium.svg#Kievit-Medium") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'kievit-medium';
  src: url("../fonts/kievit-medium-italic.eot");
  src: url("../fonts/kievit-medium-italic.eot?#iefix") format("embedded-opentype"), url("../fonts/kievit-medium-italic.woff2") format("woff2"), url("../fonts/kievit-medium-italic.woff") format("woff"), url("../fonts/kievit-medium-italic.ttf") format("truetype"), url("../fonts/kievit-medium-italic.svg#Kievit-MediumItalic") format("svg");
  font-style: italic;
}
/* line 1, ../scss/_header.scss */
#header {
  width: 100%;
  position: fixed;
  top: 0px;
  background: white;
  padding: 15px;
  max-width: 1024px;
  margin: 0 auto;
  box-sizing: border-box;
  font-size: 16px;
}
/* line 11, ../scss/_header.scss */
#header i.fa-bars {
  vertical-align: middle;
}
/* line 13, ../scss/_header.scss */
#header i.fa-bars.fa-lg {
  display: inline-block;
  width: 8%;
}
/* line 17, ../scss/_header.scss */
#header i.fa-bars.fa-2x {
  display: none;
}
/* line 21, ../scss/_header.scss */
#header a {
  display: inline-block;
  width: 90%;
  vertical-align: middle;
  box-sizing: border-box;
}
/* line 27, ../scss/_header.scss */
#header a img#full-logo {
  display: inline-block;
  width: 100%;
  height: auto;
}

@media screen and (min-width: 490px) {
  /* line 38, ../scss/_header.scss */
  #header i.fa-bars {
    width: 7%;
  }
  /* line 40, ../scss/_header.scss */
  #header i.fa-bars.fa-lg {
    display: none;
  }
  /* line 43, ../scss/_header.scss */
  #header i.fa-bars.fa-2x {
    display: inline-block;
  }
  /* line 47, ../scss/_header.scss */
  #header a {
    width: 92%;
  }
}
@media screen and (min-width: 768px) {
  /* line 54, ../scss/_header.scss */
  #header {
    position: relative;
    padding: 15px 15px 0px;
  }
  /* line 58, ../scss/_header.scss */
  #header i.fa-bars.fa-2x {
    display: none;
  }
  /* line 62, ../scss/_header.scss */
  #header a {
    width: 100%;
  }
  /* line 65, ../scss/_header.scss */
  #header a img#full-logo {
    display: block;
    width: 100%;
    height: auto;
  }
}
/* line 1, ../scss/_navbar.scss */
#navbar {
  width: 100%;
  height: auto;
  background: none;
  text-transform: uppercase;
  font-family: 'kievit-regular';
  font-size: 16px;
}
/* line 8, ../scss/_navbar.scss */
#navbar i {
  display: none;
}
/* line 12, ../scss/_navbar.scss */
#navbar .menu {
  width: 747px;
  margin: 0 auto;
  float: none;
  /*** shadows for all but IE6 ***/
}
/* line 17, ../scss/_navbar.scss */
#navbar .menu ul {
  padding: 0px;
}
/* line 19, ../scss/_navbar.scss */
#navbar .menu ul ul {
  position: absolute;
  top: -9999px;
  width: 180px;
  /* left offset of submenus need to match (see below) */
}
/* line 23, ../scss/_navbar.scss */
#navbar .menu ul ul .sf-sub-indicator {
  background-position: -10px 0;
}
/* line 29, ../scss/_navbar.scss */
#navbar .menu ul ul a:focus > .sf-sub-indicator, #navbar .menu ul ul a:hover > .sf-sub-indicator, #navbar .menu ul ul a:active > .sf-sub-indicator {
  background-position: -10px 0;
  /* arrow hovers for modern browsers*/
}
/* line 33, ../scss/_navbar.scss */
#navbar .menu ul ul a > .sf-sub-indicator {
  top: 10px;
  background-position: 0 0;
}
/* line 41, ../scss/_navbar.scss */
#navbar .menu ul ul li:hover a > .sf-sub-indicator, #navbar .menu ul ul li.sfHover a > .sf-sub-indicator {
  background-position: -10px 0;
  /* arrow hovers for modern browsers*/
}
/* line 48, ../scss/_navbar.scss */
#navbar .menu ul li {
  list-style: none;
}
/* line 54, ../scss/_navbar.scss */
#navbar .menu ul li ul li {
  width: 100%;
  border: none;
  margin: 0px 0px 0px 0px;
  background: white;
}
/* line 63, ../scss/_navbar.scss */
#navbar .menu ul.menu {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
/* line 68, ../scss/_navbar.scss */
#navbar .menu ul.menu ul {
  position: absolute;
  top: -9999px;
  width: 180px;
  /* left offset of submenus need to match (see below) */
}
/* line 73, ../scss/_navbar.scss */
#navbar .menu ul.menu ul li {
  background: white;
  width: 100%;
  border: none;
  margin: 0px 0px 0px 0px;
}
/* line 79, ../scss/_navbar.scss */
#navbar .menu ul.menu ul .sf-sub-indicator {
  background-position: -10px 0;
}
/* line 82, ../scss/_navbar.scss */
#navbar .menu ul.menu ul a > .sf-sub-indicator {
  top: 10px;
  background-position: 0 0;
}
/* line 90, ../scss/_navbar.scss */
#navbar .menu ul.menu li:hover li ul, #navbar .menu ul.menu li.sfHover li ul {
  top: -9999px;
}
/* line 97, ../scss/_navbar.scss */
#navbar .menu ul.menu li li:hover ul, #navbar .menu ul.menu li li.sfHover ul {
  left: 180px;
  /* match ul width */
  top: 0;
}
/* line 103, ../scss/_navbar.scss */
#navbar .menu ul.menu li li:hover li:hover ul, #navbar .menu ul.menu li li:hover li.sfHover ul, #navbar .menu ul.menu li li.sfHover li:hover ul, #navbar .menu ul.menu li li.sfHover li.sfHover ul {
  left: 180px;
  /* match ul width */
  top: 0;
}
/* line 108, ../scss/_navbar.scss */
#navbar .menu ul.menu li li:hover li ul, #navbar .menu ul.menu li li.sfHover li ul {
  top: -9999px;
}
/* line 116, ../scss/_navbar.scss */
#navbar .menu li {
  float: left;
  position: relative;
  background: none;
}
/* line 120, ../scss/_navbar.scss */
#navbar .menu li:hover, #navbar .menu li.sfHover {
  visibility: inherit;
  /* fixes IE7 'sticky bug' */
  background: none;
  border-bottom: none;
  outline: 0;
}
/* line 125, ../scss/_navbar.scss */
#navbar .menu li:hover ul, #navbar .menu li.sfHover ul {
  left: 0;
  top: 45px;
  /* match top ul list item height */
  z-index: 99;
}
/* line 130, ../scss/_navbar.scss */
#navbar .menu li:hover a > .sf-sub-indicator, #navbar .menu li.sfHover a > .sf-sub-indicator {
  background-position: -10px -100px;
  /* arrow hovers for modern browsers*/
}
/* line 135, ../scss/_navbar.scss */
#navbar .menu li .current_page_item a, #navbar .menu li .current_page_item a:hover, #navbar .menu li .current-menu-item a, #navbar .menu li .current-menu-item a:hover, #navbar .menu li .current-cat a, #navbar .menu li .current-cat a:hover {
  color: black !important;
  border-bottom: none;
}
/* line 141, ../scss/_navbar.scss */
#navbar .menu li li {
  background: #FFFFFF;
  border: none;
}
/* line 144, ../scss/_navbar.scss */
#navbar .menu li li a, #navbar .menu li li a:visited {
  color: black;
  padding: 10px 10px 10px 10px;
  text-decoration: none;
  text-transform: none;
  text-shadow: none;
  border: none;
}
/* line 151, ../scss/_navbar.scss */
#navbar .menu li li a:focus, #navbar .menu li li a:hover, #navbar .menu li li a:active, #navbar .menu li li a:visited:focus, #navbar .menu li li a:visited:hover, #navbar .menu li li a:visited:active {
  color: black;
  border-bottom: none;
  outline: 0;
}
/* line 158, ../scss/_navbar.scss */
#navbar .menu li li li {
  background: #FFFFFF;
  border: none;
}
/* line 162, ../scss/_navbar.scss */
#navbar .menu li li:hover, #navbar .menu li li.sfHover {
  color: black;
  border: none;
  outline: 0;
  padding: 0px;
}
/* line 172, ../scss/_navbar.scss */
#navbar .menu a {
  display: block;
  position: relative;
  padding: 17px 10px 8px 10px;
  text-decoration: none;
  font-style: normal;
  font-weight: bold;
  line-height: 16px;
  color: black;
}
/* line 182, ../scss/_navbar.scss */
#navbar .menu a:visited {
  color: black;
}
/* line 185, ../scss/_navbar.scss */
#navbar .menu a:focus, #navbar .menu a:hover, #navbar .menu a:active {
  background: none;
  color: #151515;
  outline: 0;
}
/* line 190, ../scss/_navbar.scss */
#navbar .menu a:focus > .sf-sub-indicator, #navbar .menu a:hover > .sf-sub-indicator, #navbar .menu a:active > .sf-sub-indicator {
  background-position: -10px -100px;
  /* arrow hovers for modern browsers*/
}
/* line 195, ../scss/_navbar.scss */
#navbar .menu a.sf-with-ul {
  padding-right: 25px;
  min-width: 1px;
  /* trigger IE7 hasLayout so spans position accurately */
}
/* line 200, ../scss/_navbar.scss */
#navbar .menu a > .sf-sub-indicator {
  /* give all except IE6 the correct values */
  top: 19px;
  background-position: 0 -100px;
  /* use translucent arrow for modern browsers*/
}
/* line 206, ../scss/_navbar.scss */
#navbar .menu .sf-sub-indicator {
  position: absolute;
  display: block;
  right: 10px;
  top: 19px;
  /* IE6 only */
  width: 10px;
  height: 10px;
  text-indent: -9999px;
  overflow: hidden;
  background: url(../images/arrows-ffffff.png) no-repeat -10px -100px;
  /* 8-bit indexed alpha png. IE6 gets solid image only */
}
/* line 219, ../scss/_navbar.scss */
#navbar .menu .current_page_item a, #navbar .menu .current_page_ancestor a, #navbar .menu .current-menu-item a, #navbar .menu .current-cat a, #navbar .menu .current-menu-ancestor a {
  color: #151515 !important;
}
/* line 225, ../scss/_navbar.scss */
#navbar .menu .current_page_item ul li a, #navbar .menu .current_page_ancestor ul li a, #navbar .menu .current-menu-item ul li a, #navbar .menu .current-cat ul li a, #navbar .menu .current-menu-ancestor ul li a {
  background-color: #FFFFFF;
  color: #151515 !important;
  border-bottom: none;
}
/* line 229, ../scss/_navbar.scss */
#navbar .menu .current_page_item ul li a:hover, #navbar .menu .current_page_ancestor ul li a:hover, #navbar .menu .current-menu-item ul li a:hover, #navbar .menu .current-cat ul li a:hover, #navbar .menu .current-menu-ancestor ul li a:hover {
  color: black !important;
  border-bottom: none;
}
/* line 242, ../scss/_navbar.scss */
#navbar .menu .sf-shadow ul ul {
  background: none;
  padding: 0 8px 9px 0;
  -moz-border-radius-bottomleft: 17px;
  -moz-border-radius-topright: 17px;
  -webkit-border-top-right-radius: 17px;
  -webkit-border-bottom-left-radius: 17px;
}
/* line 253, ../scss/_navbar.scss */
#navbar .menu .sf-shadow ul.sf-shadow-off {
  background: transparent;
}

/* line 260, ../scss/_navbar.scss */
#overlay {
  background: 0 0 rgba(0, 0, 0, 0.8);
  display: none;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  -moz-transition: all 0.2s linear 0s;
  -webkit-transition: all 0.2s linear 0s;
  -ms-transition: all 0.2s linear 0s;
  transition: all 0.2s linear 0s;
  width: 100%;
  z-index: 90;
}

@media only screen and (max-width: 767px) {
  /* line 275, ../scss/_navbar.scss */
  .responsive-nav-icon,
  .responsive-nav-close {
    display: block;
    position: absolute;
    z-index: 1;
  }

  /* line 282, ../scss/_navbar.scss */
  #navbar {
    height: 100%;
    padding: 20px;
    position: fixed;
    top: 0;
    left: -400px;
    -moz-transition: all 0.2s linear 0s;
    -webkit-transition: all 0.2s linear 0s;
    -ms-transition: all 0.2s linear 0s;
    transition: all 0.2s linear 0s;
    width: 0;
  }
  /* line 295, ../scss/_navbar.scss */
  #navbar.slide-in {
    left: 0;
    width: 250px;
    z-index: 100;
    background: black;
  }
  /* line 301, ../scss/_navbar.scss */
  #navbar.slide-in i {
    display: block;
    color: white;
    float: right;
    padding-top: 14px;
  }
  /* line 310, ../scss/_navbar.scss */
  #navbar .menu {
    width: auto;
    float: left;
  }
  /* line 313, ../scss/_navbar.scss */
  #navbar .menu a {
    color: white;
  }
  /* line 315, ../scss/_navbar.scss */
  #navbar .menu a:visited {
    color: white;
  }
  /* line 318, ../scss/_navbar.scss */
  #navbar .menu a .sf-sub-indicator {
    color: white;
  }
  /* line 323, ../scss/_navbar.scss */
  #navbar .menu ul.menu li {
    color: white;
    background: none;
    display: block;
    float: none;
  }
  /* line 329, ../scss/_navbar.scss */
  #navbar .menu ul.menu li li:hover ul, #navbar .menu ul.menu li li.sfHover ul {
    left: 0;
  }
  /* line 333, ../scss/_navbar.scss */
  #navbar .menu ul.menu li .sub-menu {
    top: 0;
    position: relative;
  }
  /* line 343, ../scss/_navbar.scss */
  #navbar .menu ul.menu ul li {
    background: none;
  }
}
/* line 2, ../scss/_home.scss */
#homepage .homepagecontent {
  margin-bottom: 30px;
}
/* line 5, ../scss/_home.scss */
#homepage .homepagecontent .homeinfo a {
  text-decoration: none;
}
/* line 8, ../scss/_home.scss */
#homepage .homepagecontent .homeinfo ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
/* line 12, ../scss/_home.scss */
#homepage .homepagecontent .homeinfo ul li {
  list-style: none;
}
/* line 16, ../scss/_home.scss */
#homepage .homepagecontent .homeinfo h3 {
  text-transform: uppercase;
  font-size: 20px;
  margin: 0px;
}
/* line 20, ../scss/_home.scss */
#homepage .homepagecontent .homeinfo h3 a {
  color: black;
}
/* line 24, ../scss/_home.scss */
#homepage .homepagecontent .homeinfo h4 {
  text-transform: uppercase;
  font-size: 14px;
  margin: 15px 0px 5px;
}
/* line 28, ../scss/_home.scss */
#homepage .homepagecontent .homeinfo h4 a {
  color: #ff82c8;
}
/* line 32, ../scss/_home.scss */
#homepage .homepagecontent .homeinfo p {
  margin: 10px 0px 15px;
}
/* line 37, ../scss/_home.scss */
#homepage .homepagecontent .post_container .featured_image {
  background-position: center center;
  background-repeat: no-repeat;
}

@media screen and (min-width: 768px) {
  /* line 46, ../scss/_home.scss */
  #homepage {
    font-size: 18px;
    line-height: 1.5;
  }
  /* line 49, ../scss/_home.scss */
  #homepage .homepagecontent {
    margin-bottom: 0px;
    width: 33.3%;
    padding-bottom: 480px;
    display: inline-block;
    float: left;
    vertical-align: top;
    position: relative;
  }
  /* line 57, ../scss/_home.scss */
  #homepage .homepagecontent#sticky {
    width: 66.6%;
  }
  /* line 60, ../scss/_home.scss */
  #homepage .homepagecontent#sticky .post_container h3 {
    font-size: 28px;
    margin: 5px 0px;
  }
  /* line 64, ../scss/_home.scss */
  #homepage .homepagecontent#sticky .post_container .featured_image {
    background-position: top center;
  }
  /* line 69, ../scss/_home.scss */
  #homepage .homepagecontent .post_container {
    position: absolute;
    left: 10px;
    right: 10px;
    top: 10px;
    bottom: 10px;
  }
}
/* line 1, ../scss/_footer.scss */
#footer {
  font-size: 18px;
  line-height: 1.5;
  height: auto;
  margin-top: 50px;
}
/* line 6, ../scss/_footer.scss */
#footer .footerleft, #footer .footerright {
  display: block;
  float: none;
  text-align: center;
}
/* line 10, ../scss/_footer.scss */
#footer .footerleft a, #footer .footerright a {
  color: #ff82c8 !important;
  text-decoration: none;
}

@media screen and (min-width: 480px) {
  /* line 19, ../scss/_footer.scss */
  #footer .footerleft {
    display: inline-block;
    float: left;
    text-align: left;
  }
  /* line 24, ../scss/_footer.scss */
  #footer .footerright {
    display: inline-block;
    float: right;
    text-align: right;
  }
}
/* line 2, ../scss/_index.scss */
#container a {
  text-decoration: none;
  color: #ff82c8;
}
/* line 6, ../scss/_index.scss */
#container #content {
  max-width: 700px;
  margin: 0 auto;
}
/* line 10, ../scss/_index.scss */
#container #content .post-area .post-content {
  margin: 1em 0px;
}
/* line 13, ../scss/_index.scss */
#container #content .post-area img, #container #content .post-area div {
  max-width: 100%;
}
/* line 19, ../scss/_index.scss */
#container #content .post-area img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* line 24, ../scss/_index.scss */
#container #content .post-area img.alignright {
  float: right;
  margin: 0 0 1em 1em;
}
/* line 28, ../scss/_index.scss */
#container #content .post-area img.alignleft {
  float: left;
  margin: 0 1em 1em 0;
}
/* line 34, ../scss/_index.scss */
#container #content .post-area div.aligncenter {
  margin: 0 auto;
}
/* line 37, ../scss/_index.scss */
#container #content .post-area div.alignright {
  margin-left: auto;
  margin-right: 0;
}
/* line 42, ../scss/_index.scss */
#container #content .post-area img[class*="align"], #container #content .post-area img[class*="wp-image-"] {
  height: auto;
  /* Make sure images with WordPress-added height and width attributes are scaled correctly */
}
/* line 45, ../scss/_index.scss */
#container #content .post-area img.size-full {
  width: auto;
  /* Prevent stretching of full-size images with height and width attributes in IE8 */
}
/* line 48, ../scss/_index.scss */
#container #content .post-area a {
  text-decoration: none;
  color: #ff82c8;
}
/* line 52, ../scss/_index.scss */
#container #content .post-area .post-title {
  margin-top: 0px;
  margin-bottom: 15px;
}
/* line 57, ../scss/_index.scss */
#container #content .post-area .post-author-container .post-author-image {
  display: inline-block;
  vertical-align: middle;
  background-size: cover;
  background-position: center;
  height: 54px;
  width: 54px;
  border-radius: 50%;
}
/* line 66, ../scss/_index.scss */
#container #content .post-area .post-author-container .post-author-info {
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
}
/* line 71, ../scss/_index.scss */
#container #content .post-area .post-author-container .post-author-info .post-author a[rel="twitter"] {
  color: black;
}
/* line 73, ../scss/_index.scss */
#container #content .post-area .post-author-container .post-author-info .post-author a[rel="twitter"]:hover {
  color: #ff82c8;
}
/* line 77, ../scss/_index.scss */
#container #content .post-area .post-author-container .post-author-info .post-author p {
  margin: 0px;
}
/* line 83, ../scss/_index.scss */
#container #content .post-area .post-date {
  font-size: 16px;
  line-height: 1.9;
  height: auto;
}
/* line 87, ../scss/_index.scss */
#container #content .post-area .post-date p {
  display: inline-block;
  margin: 0px;
}
/* line 91, ../scss/_index.scss */
#container #content .post-area .post-date div {
  display: inline-block;
}
/* line 95, ../scss/_index.scss */
#container #content .post-area .category {
  text-transform: uppercase;
  margin: 0px;
  margin-top: 10px;
}
/* line 99, ../scss/_index.scss */
#container #content .post-area .category a {
  color: #ff82c8;
}
/* line 102, ../scss/_index.scss */
#container #content .post-area .category ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
/* line 106, ../scss/_index.scss */
#container #content .post-area .category ul li {
  list-style: none;
}
/* line 111, ../scss/_index.scss */
#container #content .post-area .postimg_single {
  width: 100%;
  padding-bottom: 65%;
  background-size: cover;
}
/* line 115, ../scss/_index.scss */
#container #content .post-area .postimg_single img {
  width: 100%;
}
/* line 119, ../scss/_index.scss */
#container #content .post-area .postauthor {
  margin: 15px 0px;
}
/* line 122, ../scss/_index.scss */
#container #content .post-area .postmeta {
  -ms-word-wrap: break-word;
  word-wrap: break-word;
  margin: 30px 0px;
}
/* line 126, ../scss/_index.scss */
#container #content .post-area .postmeta a {
  border-radius: 5px;
  padding: 5px 10px 7px;
  margin-right: 10px;
  font-size: 13px;
  text-transform: lowercase;
  letter-spacing: 0.3px;
  color: #ff82c8;
  border: 1px solid #ff82c8;
  display: inline-block;
  margin-bottom: 10px;
}
/* line 137, ../scss/_index.scss */
#container #content .post-area .postmeta a:hover {
  background: #ff82c8 !important;
  color: white;
}
/* line 143, ../scss/_index.scss */
#container #content .post-area blockquote {
  margin-top: 29px;
  border-left: 3px solid black;
  padding-left: 20px;
  padding-bottom: 3px;
  margin-left: 0px;
  font-style: italic;
}
/* line 150, ../scss/_index.scss */
#container #content .post-area blockquote p {
  margin: 0px;
}
/* line 154, ../scss/_index.scss */
#container #content .post-area pre {
  white-space: pre;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
  overflow-x: auto;
}
/* line 160, ../scss/_index.scss */
#container #content .post-area .wp-caption {
  text-align: center;
}
/* line 163, ../scss/_index.scss */
#container #content .post-area .wp-caption-text {
  font-size: 14px;
  text-align: center;
  font-family: "kievit-regular";
}
/* line 168, ../scss/_index.scss */
#container #content .post-area twitterwidget {
  margin: 10px auto;
}
/* line 171, ../scss/_index.scss */
#container #content .post-area iframe {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}
/* line 177, ../scss/_index.scss */
#container #content .post-area .mtg_deck.mtg_deck_embedded .card_box {
  display: none;
}

@media screen and (min-width: 768px) {
  /* line 186, ../scss/_index.scss */
  #container {
    margin-top: 20px;
  }
  /* line 190, ../scss/_index.scss */
  #container #content .post-area blockquote {
    margin-left: -23px;
  }
  /* line 194, ../scss/_index.scss */
  #container #content .post-area .post-author-container .post-author-image {
    width: 66px;
    height: 66px;
  }
  /* line 199, ../scss/_index.scss */
  #container #content .post-area .post-date {
    height: 32px;
    font-size: 18px;
  }
  /* line 203, ../scss/_index.scss */
  #container #content .post-area .mtg_deck.mtg_deck_embedded .card_box {
    display: block;
  }
}
/* line 3, ../scss/_category.scss */
#container #content.category h1 {
  text-transform: uppercase;
  margin: 0px;
  margin-bottom: 15px;
}
/* line 8, ../scss/_category.scss */
#container #content.category .category-post {
  margin-bottom: 30px;
}
/* line 10, ../scss/_category.scss */
#container #content.category .category-post h2 {
  margin: 0px;
  margin-top: 5px;
}
/* line 13, ../scss/_category.scss */
#container #content.category .category-post h2 a {
  color: black;
}
/* line 17, ../scss/_category.scss */
#container #content.category .category-post .post-title {
  margin-top: 0px;
  margin-bottom: 15px;
}
/* line 22, ../scss/_category.scss */
#container #content.category .category-post .post-author-container .post-author-image {
  display: inline-block;
  vertical-align: middle;
  background-size: cover;
  background-position: center;
  height: 54px;
  width: 54px;
  border-radius: 50%;
}
/* line 31, ../scss/_category.scss */
#container #content.category .category-post .post-author-container .post-author-info {
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
}
/* line 36, ../scss/_category.scss */
#container #content.category .category-post .post-author-container .post-author-info .post-author a[rel="twitter"] {
  color: black;
}
/* line 38, ../scss/_category.scss */
#container #content.category .category-post .post-author-container .post-author-info .post-author a[rel="twitter"]:hover {
  color: #ff82c8;
}
/* line 42, ../scss/_category.scss */
#container #content.category .category-post .post-author-container .post-author-info .post-author p {
  margin: 0px;
}
/* line 48, ../scss/_category.scss */
#container #content.category .category-post .post-date {
  font-size: 16px;
  line-height: 1.9;
  height: auto;
  margin-bottom: -5px;
}
/* line 53, ../scss/_category.scss */
#container #content.category .category-post .post-date p {
  display: inline-block;
  margin: 0px;
}
/* line 57, ../scss/_category.scss */
#container #content.category .category-post .post-date div {
  display: inline-block;
}
/* line 61, ../scss/_category.scss */
#container #content.category .category-post .category {
  text-transform: uppercase;
  margin: 0px;
  margin-top: 10px;
}
/* line 65, ../scss/_category.scss */
#container #content.category .category-post .category a {
  color: #ff82c8;
}
/* line 68, ../scss/_category.scss */
#container #content.category .category-post .category ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
/* line 72, ../scss/_category.scss */
#container #content.category .category-post .category ul li {
  list-style: none;
}
/* line 77, ../scss/_category.scss */
#container #content.category .category-post .featured_image {
  width: 100%;
  background-size: cover;
  height: 220px;
}
/* line 81, ../scss/_category.scss */
#container #content.category .category-post .featured_image img {
  width: 100%;
}
/* line 85, ../scss/_category.scss */
#container #content.category .category-post .postauthor {
  margin: 15px 0px;
}
/* line 88, ../scss/_category.scss */
#container #content.category .category-post .postmeta {
  -ms-word-wrap: break-word;
  word-wrap: break-word;
  margin: 30px 0px;
}
/* line 92, ../scss/_category.scss */
#container #content.category .category-post .postmeta a {
  border-radius: 5px;
  padding: 5px 10px 7px;
  margin-right: 10px;
  font-size: 13px;
  text-transform: lowercase;
  letter-spacing: 0.3px;
  color: #ff82c8;
  border: 1px solid #ff82c8;
  display: inline-block;
  margin-bottom: 10px;
}
/* line 103, ../scss/_category.scss */
#container #content.category .category-post .postmeta a:hover {
  background: #ff82c8 !important;
  color: white;
}

@media screen and (min-width: 768px) {
  /* line 116, ../scss/_category.scss */
  #container #content.category h1 {
    margin-bottom: 35px;
  }
  /* line 119, ../scss/_category.scss */
  #container #content.category .category-post {
    margin-bottom: 65px;
  }
  /* line 121, ../scss/_category.scss */
  #container #content.category .category-post h2 {
    margin-top: 10px;
  }
}
/* line 3, ../scss/_author.scss */
#container #content.author .author-info {
  margin-bottom: 30px;
}
/* line 5, ../scss/_author.scss */
#container #content.author .author-info div {
  display: inline-block;
  vertical-align: middle;
}
/* line 9, ../scss/_author.scss */
#container #content.author .author-info .author-left {
  width: 70.8%;
}
/* line 11, ../scss/_author.scss */
#container #content.author .author-info .author-left h1 {
  margin: 0;
}
/* line 14, ../scss/_author.scss */
#container #content.author .author-info .author-left p {
  margin: 0;
}
/* line 18, ../scss/_author.scss */
#container #content.author .author-info .author-right {
  width: 29.2%;
  text-align: right;
}
/* line 21, ../scss/_author.scss */
#container #content.author .author-info .author-right .author-image {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background-size: cover;
}
/* line 30, ../scss/_author.scss */
#container #content.author .author-post {
  margin-bottom: 30px;
}
/* line 32, ../scss/_author.scss */
#container #content.author .author-post h2 {
  margin: 0px;
}
/* line 34, ../scss/_author.scss */
#container #content.author .author-post h2 a {
  color: black;
}
/* line 38, ../scss/_author.scss */
#container #content.author .author-post .post-title {
  margin-top: 0px;
  margin-bottom: 15px;
}
/* line 43, ../scss/_author.scss */
#container #content.author .author-post .post-author-container .post-author-image {
  display: inline-block;
  vertical-align: middle;
  background-size: cover;
  background-position: center;
  height: 54px;
  width: 54px;
  border-radius: 50%;
}
/* line 52, ../scss/_author.scss */
#container #content.author .author-post .post-author-container .post-author-info {
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
}
/* line 57, ../scss/_author.scss */
#container #content.author .author-post .post-author-container .post-author-info .post-author a[rel="twitter"] {
  color: black;
}
/* line 59, ../scss/_author.scss */
#container #content.author .author-post .post-author-container .post-author-info .post-author a[rel="twitter"]:hover {
  color: #ff82c8;
}
/* line 63, ../scss/_author.scss */
#container #content.author .author-post .post-author-container .post-author-info .post-author p {
  margin: 0px;
}
/* line 69, ../scss/_author.scss */
#container #content.author .author-post .post-date {
  font-size: 16px;
  line-height: 1.9;
  height: auto;
  margin-top: 2px;
  margin-bottom: -5px;
}
/* line 75, ../scss/_author.scss */
#container #content.author .author-post .post-date p {
  display: inline-block;
  margin: 0px;
}
/* line 79, ../scss/_author.scss */
#container #content.author .author-post .post-date div {
  display: inline-block;
}
/* line 83, ../scss/_author.scss */
#container #content.author .author-post .category {
  text-transform: uppercase;
  margin: 0px;
  margin-top: 10px;
}
/* line 87, ../scss/_author.scss */
#container #content.author .author-post .category a {
  color: #ff82c8;
}
/* line 90, ../scss/_author.scss */
#container #content.author .author-post .category ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
/* line 94, ../scss/_author.scss */
#container #content.author .author-post .category ul li {
  list-style: none;
}
/* line 99, ../scss/_author.scss */
#container #content.author .author-post .featured_image {
  width: 100%;
  background-size: cover;
  height: 220px;
}
/* line 103, ../scss/_author.scss */
#container #content.author .author-post .featured_image img {
  width: 100%;
}
/* line 107, ../scss/_author.scss */
#container #content.author .author-post .postauthor {
  margin: 15px 0px;
}
/* line 110, ../scss/_author.scss */
#container #content.author .author-post .postmeta {
  -ms-word-wrap: break-word;
  word-wrap: break-word;
  margin: 30px 0px;
}
/* line 114, ../scss/_author.scss */
#container #content.author .author-post .postmeta a {
  border-radius: 5px;
  padding: 5px 10px 7px;
  margin-right: 10px;
  font-size: 13px;
  text-transform: lowercase;
  letter-spacing: 0.3px;
  color: #ff82c8;
  border: 1px solid #ff82c8;
  display: inline-block;
  margin-bottom: 10px;
}
/* line 125, ../scss/_author.scss */
#container #content.author .author-post .postmeta a:hover {
  background: #ff82c8 !important;
  color: white;
}

@media screen and (min-width: 768px) {
  /* line 138, ../scss/_author.scss */
  #container #content.author .author-post {
    margin-bottom: 65px;
  }
  /* line 140, ../scss/_author.scss */
  #container #content.author .author-post .post-date {
    margin-top: 4px;
  }
  /* line 144, ../scss/_author.scss */
  #container #content.author .author-info {
    margin-bottom: 35px;
  }
  /* line 146, ../scss/_author.scss */
  #container #content.author .author-info .author-left {
    width: 75%;
  }
  /* line 149, ../scss/_author.scss */
  #container #content.author .author-info .author-right {
    width: 25%;
  }
  /* line 151, ../scss/_author.scss */
  #container #content.author .author-info .author-right .author-image {
    height: 120px;
    width: 120px;
  }
}
/* line 10, ../scss/base.scss */
body {
  width: 100%;
  height: auto;
  margin: 0px;
  font-family: 'itc-charter';
  font-size: 18px;
  line-height: 1.5;
}
/* line 18, ../scss/base.scss */
body h1, body h2, body h3, body h4, body h5 {
  font-family: 'kievit-medium';
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}
/* line 24, ../scss/base.scss */
body h1 {
  line-height: 1.4;
}
/* line 28, ../scss/base.scss */
body.ios h1, body.ios h2, body.ios h3, body.ios h5 {
  font-weight: normal;
  -webkit-text-stroke: 0.5px black;
}
/* line 32, ../scss/base.scss */
body.ios h4 {
  font-weight: normal;
  -webkit-text-stroke: 0.5px #ff82c8;
}
/* line 38, ../scss/base.scss */
body #wrap {
  max-width: 1024px;
  padding: 0px 15px;
  margin: 0 auto;
  letter-spacing: .05px;
}
/* line 44, ../scss/base.scss */
body #wrap #spacer img {
  width: 90%;
  padding: 15px;
  visibility: collapse;
}

@media screen and (min-width: 768px) {
  /* line 54, ../scss/base.scss */
  body {
    font-size: 21px;
    line-height: 1.58;
  }
  /* line 58, ../scss/base.scss */
  body h1 {
    line-height: 1.5;
  }
  /* line 62, ../scss/base.scss */
  body #wrap #spacer {
    display: none;
  }
}
