@font-face {
  font-family: 'itc-charter';
  src: url('../fonts/itc-charter.eot');
  src: url('../fonts/itc-charter.eot?#iefix') format('embedded-opentype'),
       url('../fonts/itc-charter.woff2') format('woff2'),
       url('../fonts/itc-charter.woff') format('woff'),
       url('../fonts/itc-charter.ttf') format('truetype'),
       url('../fonts/itc-charter.svg#CharterITCbyBT-Roman') format('svg');
}

@font-face {
  font-family: 'itc-charter';
  src: url('../fonts/itc-charter-bold.eot');
  src: url('../fonts/itc-charter-bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/itc-charter-bold.woff2') format('woff2'),
       url('../fonts/itc-charter-bold.woff') format('woff'),
       url('../fonts/itc-charter-bold.ttf') format('truetype'),
       url('../fonts/itc-charter-bold.svg#CharterITCbyBT-Italic') format('svg');
  font-weight: bold;
}

@font-face {
  font-family: 'itc-charter';
  src: url('../fonts/itc-charter-italic.eot');
  src: url('../fonts/itc-charter-italic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/itc-charter-italic.woff2') format('woff2'),
       url('../fonts/itc-charter-italic.woff') format('woff'),
       url('../fonts/itc-charter-italic.ttf') format('truetype'),
       url('../fonts/itc-charter-italic.svg#CharterITCbyBT-Bold') format('svg');
  font-style: italic;
}

@font-face {
  font-family: 'kievit-regular';
  src: url('../fonts/kievit-regular.eot');
  src: url('../fonts/kievit-regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/kievit-regular.woff2') format('woff2'),
       url('../fonts/kievit-regular.woff') format('woff'),
       url('../fonts/kievit-regular.ttf') format('truetype'),
       url('../fonts/kievit-regular.svg#Kievit-Regular') format('svg');
}

@font-face {
  font-family: 'kievit-medium';
  src: url('../fonts/kievit-medium.eot');
  src: url('../fonts/kievit-medium.eot?#iefix') format('embedded-opentype'),
       url('../fonts/kievit-medium.woff2') format('woff2'),
       url('../fonts/kievit-medium.woff') format('woff'),
       url('../fonts/kievit-medium.ttf') format('truetype'),
       url('../fonts/kievit-medium.svg#Kievit-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'kievit-medium';
  src: url('../fonts/kievit-medium-italic.eot');
  src: url('../fonts/kievit-medium-italic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/kievit-medium-italic.woff2') format('woff2'),
       url('../fonts/kievit-medium-italic.woff') format('woff'),
       url('../fonts/kievit-medium-italic.ttf') format('truetype'),
       url('../fonts/kievit-medium-italic.svg#Kievit-MediumItalic') format('svg');
  font-style: italic;
}