@font-face {
  font-family: 'itc-charter';
  src: url('../fonts/itc-charter.eot');
  src: url('../fonts/itc-charter.eot?#iefix') format('embedded-opentype'),
       url('../fonts/itc-charter.woff2') format('woff2'),
       url('../fonts/itc-charter.woff') format('woff'),
       url('../fonts/itc-charter.ttf') format('truetype'),
       url('../fonts/itc-charter.svg#CharterITCbyBT-Roman') format('svg');
}

@font-face {
  font-family: 'itc-charter';
  src: url('../fonts/itc-charter-bold.eot');
  src: url('../fonts/itc-charter-bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/itc-charter-bold.woff2') format('woff2'),
       url('../fonts/itc-charter-bold.woff') format('woff'),
       url('../fonts/itc-charter-bold.ttf') format('truetype'),
       url('../fonts/itc-charter-bold.svg#CharterITCbyBT-Italic') format('svg');
  font-weight: bold;
}

@font-face {
  font-family: 'itc-charter';
  src: url('../fonts/itc-charter-italic.eot');
  src: url('../fonts/itc-charter-italic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/itc-charter-italic.woff2') format('woff2'),
       url('../fonts/itc-charter-italic.woff') format('woff'),
       url('../fonts/itc-charter-italic.ttf') format('truetype'),
       url('../fonts/itc-charter-italic.svg#CharterITCbyBT-Bold') format('svg');
  font-style: italic;
}

@font-face {
  font-family: 'whitney';
  src: url('../fonts/Whitney-Book.eot');
  src: url('../fonts/Whitney-Book.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Whitney-Book.woff2') format('woff2'),
       url('../fonts/Whitney-Book.woff') format('woff'),
       url('../fonts/Whitney-Book.ttf') format('truetype'),
       url('../fonts/Whitney-Book.svg#Whitney-Book') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'whitney';
  src: url('../fonts/Whitney-BookItalic.eot');
  src: url('../fonts/Whitney-BookItalic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Whitney-BookItalic.woff2') format('woff2'),
       url('../fonts/Whitney-BookItalic.woff') format('woff'),
       url('../fonts/Whitney-BookItalic.ttf') format('truetype'),
       url('../fonts/Whitney-BookItalic.svg#Whitney-BookItalic') format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'whitney';
  src: url('../fonts/Whitney-Medium.eot');
  src: url('../fonts/Whitney-Medium.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Whitney-Medium.woff2') format('woff2'),
       url('../fonts/Whitney-Medium.woff') format('woff'),
       url('../fonts/Whitney-Medium.ttf') format('truetype'),
       url('../fonts/Whitney-Medium.svg#Whitney-Medium') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'whitney';
  src: url('../fonts/Whitney-MediumItalic.eot');
  src: url('../fonts/Whitney-MediumItalic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Whitney-MediumItalic.woff2') format('woff2'),
       url('../fonts/Whitney-MediumItalic.woff') format('woff'),
       url('../fonts/Whitney-MediumItalic.ttf') format('truetype'),
       url('../fonts/Whitney-MediumItalic.svg#Whitney-MediumItalic') format('svg');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'whitney-semibold';
  src: url('../fonts/Whitney-Semibold.eot');
  src: url('../fonts/Whitney-Semibold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Whitney-Semibold.woff2') format('woff2'),
       url('../fonts/Whitney-Semibold.woff') format('woff'),
       url('../fonts/Whitney-Semibold.ttf') format('truetype'),
       url('../fonts/Whitney-Semibold.svg#Whitney-Semibold') format('svg');
  font-weight: bold;
  font-style: normal;
}
