#footer {
  font-size: 18px;
  line-height: 1.5;
  height: auto;
  margin-top: 50px;
  .footerleft, .footerright {
    display: block;
    float: none;
    text-align: center;
    a {
      color: $black;
      text-decoration: none;
      text-decoration: underline;
      text-decoration-color: $primary;
      -moz-text-decoration-color: $primary;
      -webkit-text-decoration-color: $primary;
      &:hover {
        color: $primary;
      }
    }
  }
}

@media screen and (min-width: 576px) {
  #footer {
    .footerleft {
      display: inline-block;
      float: left;
      text-align: left;
    }
    .footerright {
      display: inline-block;
      float: right;
      text-align: right;
    }
  }
}

@media screen and (min-width: 768px) {
  #footer {
    font-size: 20px;
    .footerleft, .footerright {
    }
  }
}
