#footer {
  font-size: 18px;
  line-height: 1.5;
  height: auto;
  margin-top: 50px;
  .footerleft, .footerright {
    display: block;
    float: none;
    text-align: center;
    a {
      color: black;
      text-decoration: none;
      border-bottom: 2px solid #ff82c8;
      &:hover {
        color: #ff82c8;
      }
    }
  }
}

@media screen and (min-width: 480px) {
  #footer {
    .footerleft {
      display: inline-block;
      float: left;
      text-align: left;
    }
    .footerright {
      display: inline-block;
      float: right;
      text-align: right;
    }
  }
}
