#footer {
  font-size: 18px;
  line-height: 1.5;
  height: auto;
  margin-top: 50px;
  .footerleft, .footerright {
    display: block;
    float: none;
    text-align: center;
    a {
      color: #ff82c8 !important;
      text-decoration: none;
    }
  }
}

@media screen and (min-width: 480px) {
  #footer {
    .footerleft {
      display: inline-block;
      float: left;
      text-align: left;
    }
    .footerright {
      display: inline-block;
      float: right;
      text-align: right;
    }
  }
}