#header {
  margin-bottom: 15px;
  img {
    &#full-logo {
      display: none;
    }
    &#mobile-logo {
      display: block;
      width: 100%;
      height: auto;
    }
  }
}

@media screen and (min-width: 480px) {
  #header {
    img {
      &#full-logo {
        display: block;
        width: 100%;
        height: auto;
      }
      &#mobile-logo {
        display: none;
      }
    }
  }
}