#container {
  a {
    text-decoration: none;
    color: #ff82c8;
  }
  #content {
    max-width: 700px;
    margin: 0 auto;
    .post-area {
      .post-content {
        margin: 1em 0px;
      }
      img, div {
        max-width: 100%;
      }
      img {
        // margin: 0 auto;
        // display: block;
        &.aligncenter {
          display: block;
          margin-left: auto;
          margin-right: auto;
        }
        &.alignright {
          float: right;
          margin: 0 0 1em 1em;
        }
        &.alignleft {
          float: left;
          margin: 0 1em 1em 0;
        }
      }
      div {
        &.aligncenter {
          margin: 0 auto
        }
        &.alignright {
          margin-left: auto;
          margin-right: 0;
        }
      }
      img[class*="align"], img[class*="wp-image-"] {
        height: auto; /* Make sure images with WordPress-added height and width attributes are scaled correctly */
      }
      img.size-full {
        width: auto; /* Prevent stretching of full-size images with height and width attributes in IE8 */
      }
      a {
        text-decoration: none;
        color: #ff82c8;
      }
      .post-title {
        margin-top: 0px;
        margin-bottom: 15px;
      }
      .post-author-container {
        .post-author-image {
          display: inline-block;
          vertical-align: middle;
          background-size: cover;
          background-position: center;
          height: 54px;
          width: 54px;
          border-radius: 50%;
        }
        .post-author-info {
          display: inline-block;
          vertical-align: middle;
          margin-left: 5px;
          .post-author {
            a[rel="twitter"] {
              color: black;
              &:hover {
                color: #ff82c8;
              }
            }
            p {
              margin: 0px;
            }
          }
        }
      }
      .post-date {
        font-size: 16px;
        line-height: 1.9;
        height: auto;
        p {
          display: inline-block;
          margin: 0px;
        }
        div {
          display: inline-block;
        }
      }
      .category {
        text-transform: uppercase;
        margin: 0px;
        margin-top: 10px;
        a{
          color: #ff82c8;
        }
        ul {
          margin: 0px;
          padding: 0px;
          list-style: none;
          li {
            list-style: none;
          }
        }
      }
      .postimg_single {
        width: 100%;
        padding-bottom: 65%;
        background-size: cover;
        background-position: center;
      }
      .postauthor {
        margin: 15px 0px;
      }
      .postmeta {
        -ms-word-wrap: break-word;
        word-wrap: break-word;
        margin: 30px 0px;
        a {
          border-radius: 5px;
          padding: 5px 10px 7px;
          margin-right: 10px;
          font-size: 13px;
          text-transform: lowercase;
          letter-spacing: 0.3px;
          color: #ff82c8;
          border: 1px solid #ff82c8;
          display: inline-block;
          margin-bottom: 10px;
          &:hover {
            background: #ff82c8 !important;
            color: white;
          }
        }
      }
      blockquote {
        margin-top: 29px;
        border-left: 3px solid black;
        padding-left: 20px;
        padding-bottom: 3px;
        margin-left: 0px;
        font-style: italic;
        p {
          margin: 0px;
        }
      }
      pre {
        white-space: pre;
        -ms-word-wrap: break-word;
        word-wrap: break-word;
        overflow-x: auto;
      }
      .wp-caption {
        text-align: center;
      }
      .wp-caption-text {
        font-size: 14px;
        text-align: center;
        font-family: "kievit-regular";
      }
      twitterwidget {
        margin: 10px auto;
      }
      iframe {
        display: block;
        margin: 0 auto;
        max-width: 100%;
      }
      .mtg_deck.mtg_deck_embedded {
        .card_box {
          display: none;
        }
      }
    }
    .share-bar {
      font-size: 0;
      visibility: hidden;
      position: fixed;
      left: 0;
      right: 0;
      bottom: 0;
      height: 0;
      z-index: 500;
      transition: visibility 0s linear .3s;
      width: 100%;
      margin: 0 auto;
      text-align: center;
      &.is-visible {
        visibility: visible;
        transition-delay: 0s;
        .share-bar-container {
          .share-bar-content {
            transform: translateY(0);
          }
        }
      }
      .share-bar-container {
        position: relative;
        height: 0;
        transform: translateZ(0);
        padding-right: 20px;
        padding-left: 20px;
        margin-right: auto;
        margin-left: auto;
        box-sizing: border-box;
        max-width: 700px;
        display: flex;
        flex-direction: row;
        align-items: stretch;
        .share-bar-content {
          box-sizing: border-box;
          position: absolute;
          width: 100%;
          bottom: 0;
          background: #fff;
          box-shadow: 0 0 1px rgba(0,0,0,.44);
          border-radius: 3px 3px 0 0;
          transform: translateY(100%);
          transition: transform .3s;
          margin-right: -20px;
          margin-left: -20px;
          padding: 5px;
          a {
            color: black;
          }
          .social-share {
            width: 33.3%;
            display: inline-block;
            font-size: 16px;
            &.mid {
              border-left: 1px solid rgba(0,0,0,.14);
              border-right: 1px solid rgba(0,0,0,.14);
              box-sizing: border-box;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  #container {
    margin-top: 20px;
    #content {
      .post-area {
        blockquote {
          margin-left: -23px;
        }
        .post-author-container {
          .post-author-image {
            width: 66px;
            height: 66px;
          }
        }
        .post-date {
          height: 32px;
          font-size: 18px;
        }
        .mtg_deck.mtg_deck_embedded .card_box {
          display: block;
        }
      }
    }
  }
}
