#container { 
  a {
    text-decoration: none;
    color: #ff82c8;
  }
  #content {
    max-width: 700px;
    margin: 0 auto;
    .post-area {
      .post-content {
        margin: 1em 0px;
      }
      img, div {
        max-width: 100%;
      }
      img {
        // margin: 0 auto;
        // display: block;
        &.aligncenter {
          display: block; 
          margin-left: auto; 
          margin-right: auto;
        }
        &.alignright {
          float: right; 
          margin: 0 0 1em 1em;
        }
        &.alignleft {
          float: left; 
          margin: 0 1em 1em 0;
        }
      }
      div {
        &.aligncenter {
          margin: 0 auto
        }
        &.alignright {
          margin-left: auto; 
          margin-right: 0;
        }
      }
      img[class*="align"], img[class*="wp-image-"] {
        height: auto; /* Make sure images with WordPress-added height and width attributes are scaled correctly */
      }
      img.size-full {
        width: auto; /* Prevent stretching of full-size images with height and width attributes in IE8 */
      }
      a {
        text-decoration: none;
        color: #ff82c8;
      }
      .post-title {
        margin-top: 0px;
        margin-bottom: 15px;
      }
      .post-author-container {
        .post-author-image {
          display: inline-block;
          vertical-align: middle;
          background-size: cover;
          background-position: center;
          height: 54px;
          width: 54px;
          border-radius: 50%;
        }
        .post-author-info {
          display: inline-block;
          vertical-align: middle;
          margin-left: 5px;
          .post-author {
            a[rel="twitter"] {
              color: black;
              &:hover {
                color: #ff82c8;
              }
            }
            p {
              margin: 0px;
            }
          }
        }
      }
      .post-date {
        font-size: 16px;
        line-height: 1.9;
        height: 25px;
        p {
          display: inline-block;
          margin-top: 0px;
        }
        div {
          display: inline-block;
        }
      }
      .category {
        text-transform: uppercase;
        margin: 0px;
        margin-top: 10px;
        a{
          color: #ff82c8;
        }
        ul {
          margin: 0px;
          padding: 0px;
          list-style: none;
          li {
            list-style: none;
          }
        }
      }
      .postimg_single {
        width: 100%;
        img {
          width: 100%;
        }
      }
      .postauthor {
        margin: 15px 0px;
      }
      .postmeta {
        margin: 30px 0px;
        a {
          border-radius: 5px;
          padding: 5px 10px 7px;
          margin-right: 10px;
          font-size: 13px;
          text-transform: lowercase;
          letter-spacing: 0.3px;
          color: #ff82c8;
          border: 1px solid #ff82c8;
          &:hover {
            background: #ff82c8 !important;
            color: white;
          }
        }
      }
      blockquote {
        margin-top: 29px;
        border-left: 3px solid black;
        padding-left: 20px;
        padding-bottom: 3px;
        margin-left: 0px;
        font-style: italic;
        p {
          margin: 0px;
        }
      }
      pre {
        white-space: pre; 
        word-wrap: break-word; 
        overflow-x: auto; 
      }
      .wp-caption {
        text-align: center;
      }
      .wp-caption-text {
        font-size: 14px;
        text-align: center;
        font-family: "kievit-regular";
      }
      twitterwidget {
        margin: 10px auto;
      }
      iframe {
        display: block;
        margin: 0 auto; 
        max-width: 100%;
      }
      .mtg_deck.mtg_deck_embedded {
        .card_box {
          display: none;
        }
      } 
    }
  }
}

@media screen and (min-width: 768px) {
  #container { 
    margin-top: 20px;
    #content {
      .post-area {
        blockquote {
          margin-left: -23px;
        }
        .post-author-container {
          .post-author-image {
            width: 66px;
            height: 66px;
          }
        }
        .post-date {
          height: 32px;
          font-size: 18px;
        }
        .mtg_deck.mtg_deck_embedded .card_box {
          display: block;
        }
      }
    }
  }
}