#navbar {
  width: 100%;
  height: auto;
  background: none;
  text-transform: uppercase;
  font-family: 'kievit-regular';
  i {
    display: none;
  }

  .menu {
    float: left;
    margin-bottom: 0px;

    ul {
      padding: 0px;
      ul {
        position: absolute;
        top: -9999px;
        width: 180px; /* left offset of submenus need to match (see below) */
        .sf-sub-indicator {
          background-position:  -10px 0; 
        }

        a {
          &:focus, &:hover, &:active {
            > .sf-sub-indicator {
              background-position: -10px 0; /* arrow hovers for modern browsers*/
            }
          }
          > .sf-sub-indicator {
            top: 10px;
            background-position:  0 0; 
          }
        }

        li {
          &:hover, &.sfHover {
            a > .sf-sub-indicator {
              background-position: -10px 0; /* arrow hovers for modern browsers*/
            }
          }
        }
      }

      li {
        list-style: none;
        ul {
          li {
            width: 100%;
            border: none;
            margin: 0px 0px 0px 0px;
          }
        }
      }
    }
    ul.menu {
      margin: 0px;
      padding: 0px;
      list-style: none;

      ul {
        position: absolute;
        top: -9999px;
        width: 180px; /* left offset of submenus need to match (see below) */

        li {
          background: none;
          width: 100%;
          border: none;
          margin: 0px 0px 0px 0px;
        }
        .sf-sub-indicator {
          background-position:  -10px 0; 
        }
        a > .sf-sub-indicator {
          top: 10px;
          background-position:  0 0; 
        }
      }
      li {
        &:hover, &.sfHover {
          li {
            ul {
              top: -9999px;
            }
          }
        }
        li {
          &:hover, &.sfHover {
            ul {
              left: 180px; /* match ul width */
              top: 0;
            }
            li {
              &:hover, &.sfHover {
                ul {
                  left: 180px; /* match ul width */
                  top: 0;
                }
              }
              ul {
                top: -9999px;
              }
            }
          }
        }
      }
    }
    li {
      float: left;
      position: relative;
      background: none;
      &:hover, &.sfHover {
        visibility: inherit; /* fixes IE7 'sticky bug' */
        background: none;
        border-bottom: none;
        outline: 0;
        ul {
          left: 0;
          top: 45px; /* match top ul list item height */
          z-index: 99;
        }
        a > .sf-sub-indicator {
          background-position: -10px -100px; /* arrow hovers for modern browsers*/
        }
      }
      .current_page_item, .current-menu-item, .current-cat {
        a, a:hover {
          color: #FFFFFF !important;
          background: #151515;
          border-bottom: none;
        }
      }
      li {
        background: #FFFFFF;
        border: none;
        a, a:visited {
          color: #666666;
          padding: 10px 10px 10px 10px;
          text-decoration: none;
          text-transform: none;
          text-shadow: none;
          border: none;
          &:focus, &:hover, &:active {
            background: #151515;
            color: #FFFFFF;
            border-bottom: none;
            outline: 0;
          }
        }
        li {
          background: #FFFFFF;
          border: none;
        }
        &:hover, &.sfHover {
          background: #151515;
          color: #FFFFFF;
          border: none;
          outline: 0;
          padding: 0px;
        }
      }
    }

    a {
      display: block;
      position: relative;
      // border-bottom: 4px solid #F9F9F9;
      padding: 17px 10px 8px 10px;
      text-decoration: none;
      font-style: normal;
      font-weight: bold;
      line-height: 16px;
      color: #666666;
      &:visited {
        color: #666666;
      }
      &:focus, &:hover, &:active {
        background: none;
        // border-bottom: 4px solid #151515;
        color: #151515;
        outline: 0;
        > .sf-sub-indicator {
          background-position: -10px -100px; /* arrow hovers for modern browsers*/
        }
      }

      &.sf-with-ul {
        padding-right: 25px;
        min-width: 1px; /* trigger IE7 hasLayout so spans position accurately */
      }

      > .sf-sub-indicator {  /* give all except IE6 the correct values */
        top: 19px;
        background-position: 0 -100px; /* use translucent arrow for modern browsers*/
      }
    }

    .sf-sub-indicator {
      position: absolute;
      display: block;
      right: 10px;
      top: 19px; /* IE6 only */
      width: 10px;
      height: 10px;
      text-indent: -9999px;
      overflow: hidden;
      background: url(../images/arrows-ffffff.png) no-repeat -10px -100px; /* 8-bit indexed alpha png. IE6 gets solid image only */
    }

    .current_page_item, .current_page_ancestor, .current-menu-item, .current-cat, .current-menu-ancestor {
      a {
        color: #151515 !important;
        // border-bottom: 4px solid #151515;
      }
      ul {
        li {
          a {
            background-color: #FFFFFF;
            color: #151515 !important;
            border-bottom: none;
            &:hover {
              background: #151515;
              color: #FFFFFF !important;
              border-bottom: none;
            }
          }
        }
      }
    }

    /*** shadows for all but IE6 ***/
    .sf-shadow {
      ul {
        ul {
          background: none;
          padding: 0 8px 9px 0;
          -moz-border-radius-bottomleft: 17px;
          -moz-border-radius-topright: 17px;
          -webkit-border-top-right-radius: 17px;
          -webkit-border-bottom-left-radius: 17px;
        }
      }
    }
    .sf-shadow {
      ul.sf-shadow-off {
        background: transparent;
      }
    }
  }
}

#overlay {
    background: 0 0 rgba(0, 0, 0, 0.8);
    display: none;
    height: 100%;
    position: fixed;
    top: 0; left: 0;
    -moz-transition: all 0.2s linear 0s;
    -webkit-transition: all 0.2s linear 0s;
    -ms-transition: all 0.2s linear 0s;
    transition: all 0.2s linear 0s;
    width: 100%;
    z-index: 90;
}

@media only screen and (max-width: 767px) {
  .responsive-nav-icon,
  .responsive-nav-close {
      display: block;
      position: absolute;
      z-index: 1;
  }

  #navbar {
      height: 100%;
      padding: 20px;
      position: fixed;
      top: 0; 
      left: -400px;
      -moz-transition: all 0.2s linear 0s;
      -webkit-transition: all 0.2s linear 0s;
      -ms-transition: all 0.2s linear 0s;
      transition: all 0.2s linear 0s;
      width: 0;
      // overflow: hidden;

      &.slide-in {
      left: 0;
      width: 250px;
      z-index: 100;
      background: black;

      i {
        display: block;
        color: white;
        float: right;
        padding-top: 14px;
      }
    }

    .menu ul.menu li {
      display: block;
      float: none;
      li:hover, li.sfHover {
        ul {
          left: 0;
        }
      }
      .sub-menu {
        top: 0;
        position: relative;
        li {
          ul {
          }
        }
      }
    }
  }
}
