#navbar {
  width: 100%;
  height: auto;
  background: none;
  text-transform: uppercase;
  font-family: 'whitney';
  font-size: 16px;
  i {
    display: none;
  }

  .mobile-menu-header {
    display: none;
  }

  .menu {
    width: auto;
    margin: 0 auto;
    float: none;
    text-align: center;
    ul {
      padding: 0px;
      ul {
        position: absolute;
        display: none;
        width: 175px;
      }
      li {
        list-style: none;
        border-bottom: 2px solid white;
        &:hover {
          border-bottom: 2px solid $black;
          ul {
            display: block;
          }
        }
        ul {
          li {
            width: 100%;
            border: none;
            margin: 0px 0px 0px 0px;
            background: white;
          }
        }
        form {
          div {
            width: 105px;
          }
          input[type="text"] {
            font-size: 16px;
            border: none;
            text-transform: uppercase;
            font-weight: 100;
            text-align: center;
            width: 75px;
            text-align: left;
            padding: 3px 5px;
            margin-left: 23px;
            &::-webkit-input-placeholder { /* WebKit, Blink, Edge */
              color: $primary;
            }
            &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
              color: $primary;
              opacity: 1;
            }
            &::-moz-placeholder { /* Mozilla Firefox 19+ */
              color: $primary;
              opacity: 1;
            }
            &:-ms-input-placeholder { /* Internet Explorer 10-11 */
              color: $primary;
            }
            &:focus {
              outline: none;
              width: auto;
              border: none;
            }
            &:active {
              // width: auto;
            }
          }
          input[type="submit"] {
            display: none;
          }
          i {
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto;
            display: block;
            width: 15px;
            height: 16px;
            &:hover {
              cursor: pointer;
            }
          }
        }
      }
    }
    ul.menu {
      margin: 0px;
      padding: 0px;
      list-style: none;
      ul {
        position: absolute;
        li {
          background: white;
          width: 100%;
          border: none;
          margin: 0px 0px 0px 0px;
          &:hover {
            border: none;
            a {
              color: $primary;
            }
          }
        }
      }
    }
    li {
      display: inline-block;
      position: relative;
      background: none;
      &:hover {
        visibility: inherit; /* fixes IE7 'sticky bug' */
        background: none;
        border-bottom: none;
        outline: 0;
        ul {
          left: 0;
          top: 35px; /* match top ul list item height */
          z-index: 99;
          padding-top: 10px;
          text-align: left;
        }
        a > .sf-sub-indicator {
          background-position: -10px -100px; /* arrow hovers for modern browsers*/
        }
      }
      .current_page_item, .current-menu-item, .current-cat {
        a, a:hover {
          color: $black !important;
          // background: #151515;
          border-bottom: none;
        }
      }
      li {
        background: #FFFFFF;
        border: none;
        a, a:visited {
          color: $black;
          padding: 10px 10px 10px 10px;
          text-decoration: none;
          text-transform: none;
          text-shadow: none;
          border: none;
          &:focus, &:hover, &:active {
            color: $black;
            border-bottom: none;
            outline: 0;
          }
        }
        li {
          background: #FFFFFF;
          border: none;
        }
        &:hover {
          color: $black;
          border: none;
          outline: 0;
          padding: 0px;
        }
      }
    }

    a {
      display: block;
      position: relative;
      padding: 17px 10px 8px 10px;
      text-decoration: none;
      font-style: normal;
      font-weight: bold;
      line-height: 16px;
      color: $black;
      &:visited {
        color: $black;
      }
      &:focus, &:hover, &:active {
        background: none;
        color: #151515;
        outline: 0;
      }
    }

    .current_page_item, .current_page_ancestor, .current-menu-item, .current-cat, .current-menu-ancestor {
      a {
        color: #151515 !important;
      }
      ul {
        li {
          a {
            background-color: #FFFFFF;
            color: #151515 !important;
            border-bottom: none;
            &:hover {
              // background: #151515;
              color: $black !important;
              border-bottom: none;
            }
          }
        }
      }
    }
  }
}

#overlay {
    background: 0 0 rgba(0, 0, 0, 0.8);
    display: none;
    height: 100%;
    position: fixed;
    top: 0; left: 0;
    -moz-transition: all 0.2s linear 0s;
    -webkit-transition: all 0.2s linear 0s;
    -ms-transition: all 0.2s linear 0s;
    transition: all 0.2s linear 0s;
    width: 100%;
    z-index: 998;
}

@media only screen and (max-width: 767px) {
  .responsive-nav-icon,
  .responsive-nav-close {
      display: block;
      position: absolute;
      z-index: 1;
  }

  #navbar {
    height: 100%;
    padding: 20px;
    position: fixed;
    top: 0;
    left: -400px;
    -moz-transition: all 0.2s linear 0s;
    -webkit-transition: all 0.2s linear 0s;
    -ms-transition: all 0.2s linear 0s;
    transition: all 0.2s linear 0s;
    width: 0;

    .mobile-menu-header {
      display: block;
    }
    div {
      display: inline-block;
      &.mobile-menu-close {
        vertical-align: top;
        float: right;
      }
    }
    img#mobile-logo-small {
      width: 215px;
      height: auto;
    }

    &.slide-in {
    left: 0;
    width: 250px;
    z-index: 999;
    background: $black;
    overflow: auto;

      i {
        display: block;
        color: white;
        float: right;
        &:hover, &:focus {
          cursor: pointer;
        }
      }
    }


    .menu {
      width: auto;
      text-align: left;
      margin-right: 20px;
      a {
        color: white;
        &:visited {
          color: white;
        }
        &:hover, &:focus {
          color: white;
        }
      }
      li {
        &:hover {
          ul {
            padding-top: 0px;
          }
        }
      }
      ul.menu {
        li {
          color: $black;
          background: none;
          display: block;
          float: none;
          border: none;
          a {
            color: white !important;
            background: $black;
            &:visited {
              color: white;
            }
          }
          &.open {
            a {
              color: $primary !important;
            }
            ul {
              display: block;
              width: 100%;
              li {
                width: 70%;
              }
            }
          }
          &.my-nav-menu-search {
            i {
              color: $primary;
            }
            margin-bottom: 45px;
            &:hover, &:focus {
              border: none;
            }
          }
          .sub-menu {
            top: 0;
            left: 20px;
            position: relative;
            display: none;
            &.open {
              display: block;
              width: 100%;
              li {
                width: 70%;
              }
            }
          }
          &:hover, &:focus {
            .sub-menu {
              // display: block;
            }
          }
          form {
            padding: 10px;
            div {
              i {
                padding: 0;
              }
              input[type="text"] {
                background: $black;
                color: white;
                &:focus {
                  width: 180px;
                }
                &::-webkit-input-placeholder { /* WebKit, Blink, Edge */
                  color: white;
                }
                &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
                  color: white;
                  opacity: 1;
                }
                &::-moz-placeholder { /* Mozilla Firefox 19+ */
                  color: white;
                  opacity: 1;
                }
                &:-ms-input-placeholder { /* Internet Explorer 10-11 */
                  color: white;
                }
              }
            }
          }
        }
        ul.sub-menu {
          li {
            background: none;
            a {
              color: white !important;
              background: $black;
              &:hover, &:focus, &:visited {
                color: white;
              }
            }
          }
        }
      }
    }
  }
}
