.boxzilla-center-container, .boxzilla-bottom-right-container {
  .boxzilla-bottom-right {
      box-shadow: 10px 10px 500px black;
  }
  .boxzilla-center, .boxzilla-bottom-right {
    .boxzilla-content {
      line-height: 1.5;
      table {
        width: 100%;
        td {
          display: block;
        }
        input[type="email"] {
          font-family: 'whitney';
          font-size: 16px;
          font-weight: 100;
          margin: 5px 0px;
          padding: 5px 10px;
          width: 100%;
          box-sizing: border-box;
        }
      }
      input[type="submit"] {
        font-family: 'whitney';
        border-radius: 5px;
        padding: 10px 15px;
        margin: 5px 0px;
        font-size: 13px;
        text-transform: uppercase;;
        letter-spacing: 0.3px;
        color: $primary;
        background: white;
        border: 1px solid $primary;
        display: inline-block;
        margin-bottom: 10px;
        &:hover {
          background: $primary !important;
          color: white;
        }
      }
    }
  }
}

.inline-mailchimp-form {
  font-size: 16px;
  h3 {
    color: $primary;
  }
  .mc4wp-form {
    border-top: 1px solid rgba(0, 0, 0, 0.14);
    border-bottom: 1px solid rgba(0, 0, 0, 0.14);
    padding: 10px 0px;
    clear: both;
    line-height: 1.5;
    table {
      width: 100%;
      td {
        display: block;
      }
      input[type="email"] {
        font-family: 'whitney';
        font-size: 16px;
        font-weight: 100;
        margin: 5px 0px;
        padding: 5px 10px;
        width: 100%;
        box-sizing: border-box;
      }
    }
    input[type="submit"] {
      font-family: 'whitney';
      border-radius: 5px;
      padding: 10px 15px;
      margin: 5px 0px;
      font-size: 13px;
      text-transform: uppercase;;
      letter-spacing: 0.3px;
      color: $primary;
      background: white;
      border: 1px solid $primary;
      display: inline-block;
      margin-bottom: 10px;
      &:hover {
        background: $primary !important;
        color: white;
      }
    }
  }
}

@media screen and (min-width: 480px) {
  .boxzilla-center-container, .boxzilla-bottom-right-container {
    .boxzilla-bottom-right {
        box-shadow: 10px 10px 100px black;
    }
    .boxzilla-center, .boxzilla-bottom-right {
      .boxzilla-content {
        table {
          td {
            display: table-cell;
            &.label {
              width: 55px;
            }
          }
          input[type="email"] {
            width: 100%;
            box-sizing: border-box;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .boxzilla-center-container, .boxzilla-bottom-right-container {
    .boxzilla-center, .boxzilla-bottom-right {
      .boxzilla-content {
        table {
          td {
            &.label {
              width: 55px;
            }
          }
        }
      }
    }
  }
}
