#container {
  #content.page {
    .post-area {
      .featureimg {
        width: 100%;
        padding-bottom: 65%;
        background-size: cover;
        background-position: center;
      }
      .error-container {
        div {
          display: block;
          vertical-align: middle;
        }
        .error-left {
          p {
            display: none;
          }
        }
        .error-right {
          width: 50%;
          margin: 0 auto;
        }
      }
    }
  }
}

@media screen and (min-width: 480px) {
  #container {
    #content.page {
      .post-area {
        .error-container {
          div {
            display: inline-block;
          }
          .error-left {
            width: 66.6%;
            p {
              display: block;
            }
          }
          .error-right {
            width: 33.3%;
          }
          .error-mobile {
            display: none;
          }
        }
      }
    }
  }
}
