@import 'fonts';
@import 'header';
@import 'navbar';
@import 'home';
@import 'footer';

body {
  width: 100%;
  height: auto;
  margin: 0px;
  font-family: 'itc-charter';
  font-size: 16px;

  h1, h2, h3, h4, h5 {
    font-family: 'kievit-medium';
  }

  #wrap {
    max-width: 1024px;
    padding: 0px 15px;
    margin: 0 auto;
  }
}