@import 'fonts';
@import 'header';
@import 'navbar';
@import 'home';
@import 'footer';
@import 'index';
@import 'category';
@import 'author';
@import 'masthead';

body {
  width: 100%;
  height: auto;
  margin: 0px;
  font-family: 'itc-charter';
  font-size: 18px;
  line-height: 1.5;

  h1, h2, h3, h4, h5 {
    font-family: 'kievit';
    -ms-word-wrap: break-word;
    word-wrap: break-word;
  }

  h1 {
    line-height: 1.4;
  }
  &.ios {
    h1, h2, h3, h5 {
      font-weight: normal;
      -webkit-text-stroke: 0.5px black;
    }
    h4 {
      font-weight: normal;
      -webkit-text-stroke: 0.5px #ff82c8;
    }
  }

  .centered {
    text-align: center;
  }

  #wrap {
    max-width: 1024px;
    padding: 0px 15px;
    margin: 0 auto;
    letter-spacing: .05px;
    #spacer {
      img {
        width: 90%;
        padding: 15px;
        visibility: collapse;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  body {
    font-size: 21px;
    line-height: 1.58;

    h1 {
      line-height: 1.5;
    }
    #wrap {
      #spacer {
        display: none;
      }
    }
  }
}
