@import 'colors';
@import 'fonts';
@import 'header';
@import 'navbar';
@import 'home';
@import 'footer';
@import 'index';
@import 'category';
@import 'author';
@import 'masthead';
@import 'page';
@import 'search';
@import 'newsletter';
@import 'shop';

body {
  width: 100%;
  height: auto;
  margin: 0px;
  font-family: 'Merriweather', serif;
  font-size: 18px;
  line-height: 2;
  color: $black;

  strong {
    font-weight: 800;
  }

  h1, h2, h3, h4, h5 {
    font-family: 'whitney';
    -ms-word-wrap: break-word;
    word-wrap: break-word;
    &.mtg_deck_title {
      text-decoration: none;
    }
  }

  h1 {
    line-height: 1.4;
  }

  #wrap {
    max-width: 1024px;
    padding: 0px 15px;
    margin: 0 auto;
    letter-spacing: .05px;
    #spacer {
      img {
        width: 90%;
        padding: 15px;
        visibility: collapse;
      }
    }
    #pagination {
      text-align: center;
      -ms-word-wrap: break-word;
      word-wrap: break-word;
      a {
        margin: 0 5px;
      }
    }
  }
  .highlight-and-share-wrapper {
    div {
      margin: 0px;
      background: white;
      border: 1px solid rgba(0,0,0,.14);
      &.has_twitter {
        a {
          color: black;
        }
        &:hover {
          background: #32CCFE;
          a {
            color: white;
          }
        }
      }
      &.has_facebook {
        background: white;
        border-left: none;
        a {
          color: black;
        }
        &:hover {
          background: #3c5a9e;
          a {
            color: white;
          }
        }
      }
      &.has_email {
        background: white;
        border-left: none;
        a {
          color: black;
        }
        &:hover {
          background: $primary;
          a {
            color: white;
          }
        }
      }
      a {
        padding: 0px;
        -moz-transition: color 200ms;
	      -o-transition: color 200ms;
	      -webkit-transition: color 200ms;
	      transition: color 200ms;
        &:hover {
          padding: 0px;
        }
        i {
          width: 31px;
          height: 28px;
          text-align: center;
        }
      }
    }
    .fa {
      font-size: 2em;
    }
  }
}

@media screen and (min-width: 768px) {
  body {
    font-size: 20px;
    line-height: 2;

    h1 {
      font-size: 3rem;
      line-height: 1.5;
    }
    #wrap {
      #spacer {
        display: none;
      }
    }
  }
}
